<!DOCTYPE html>
<html>
<head>
	<title>TODO</title>
</head>
<body>
<div ng-app="myApp">
	<div ng-controller="myController">
		Enter Task Name: <input type="text" ng-model="taskName"><br/>
		Enter Priority: <input type="number" ng-model="priorityNum"><br/>
		<button ng-click="addTask()">Add task</button>
		<ul>
			<li ng-repeat="item in tasks | orderBy:'priority'">
			Task Name is:{{item.task}} and Priority is {{item.priority}}
			<button ng-click="removeTask(item)">Remove task</button>
			</li>
		</ul>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script>
		angular.module("myApp",[]);
		angular.module("myApp").controller("myController",function($scope){
			$scope.tasks=[];
			$scope.addTask=function(){
				var taskValue=$scope.taskName;
				var priorityValue=$scope.priorityNum;
				$scope.taskName="";
				$scope.priorityNum="";
				var obj={
					task:taskValue,
					priority:priorityValue
				};
				
				$scope.tasks.push(obj);
			}
			$scope.removeTask=function(item){
				var index=$scope.tasks.indexOf(item);
				$scope.tasks.splice(index,1);
			}
			


		})
		
	</script>

</body>
</html>